<div class="container-fluid px-5 mx-5">
  <div class="row mx-5 px-5">
    <div class="col-md-2 mr-5">
      <%= render 'public/items/genre', genres: @genres %>
    </div>

    <div class="col-md-9 px-5">
        <h2><%= @word %>一覧(全<%= @items.count %>件)</h2>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-3">
            <div>
              <%= link_to item_path(item) do %>
                <%= image_tag url_for(item.image), class: "img-thumbnail", style: "width: 350px; height: 200px; object-fit: cover;" %>
              <% end %>
              <p><%= item.name %></p>
              <h5>￥<%= number_with_delimiter(item.price) %></h5>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
      