<div class="container-fluid my-4">
  <div class="row px-5">
    <% if flash[:notice]%>
      <div class="alert alert-success w-100 text-center"><%= flash[:notice] %></div>
    <% end %>
    <div class="col-md-2 mr-5 mt-4">
      <%= render 'public/items/genre', genres: @genres %>
    </div>

    <div class="col-md-9 px-5 mt-4">
      <div class="card w-100 " style="background-image: url(<%= asset_path('ケーキ屋の内装.jpg') %>); background-size: cover; background-position: center; height: 350px;">
        <div class="card-body text-center p-5 text-black top-message top-message">
          <p></p><br>
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
          <p></p>
        </div>
      </div>

      <h2 class="my-4">新着商品</h2>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-3 ">
            <div>
              <%= link_to item_path(item) do %>
                <%= image_tag url_for(item.image), class: "img-thumbnail", style: "width: 350px; height: 200px; object-fit: cover;" %>
              <% end %>
            <h5><%= item.name %></h5>
            <h5 class="mb-4">￥<%= number_with_delimiter(item.price) %></h5>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-end my-3">
        <%= link_to "全ての商品を見る >", items_path,class: "btn rounded-pill px-4 py-2",style: "background-color: #f8c471;" %>
      </div>
    </div>
  </div>
</div>
