<div class="container white-bg p-5"> 
  <h4 class="customers-table">配送先編集</h4>
  <div class="row">
    <div class="col-12 ">
      <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
        <table class=" table table-borderless" style="width: 1000px">
          <!-- 郵便番号 -->
          <tr>
            <th class="align-middle">郵便番号(ハイフンなし)</th>
            <td>
              <%= f.text_field :postal_code, autocomplete: "postal_code", class: "form-control" %>
            </td>
          </tr>

          <!-- 住所 -->
          <tr>
            <th class="align-middle">住所</th>
            <td colspan="3">
              <%= f.text_field :address, class: "form-control" %>
            </td>
            <td><td>
          </tr>

          <!-- 宛名 -->
          <tr>
            <th class="align-middle">宛名</th>
            <td colspan="2">
              <%= f.text_field :name, class: "form-control" %>
            </td>
            <td style="width: 200px"></td>
            <td >
              <%= f.submit "変更内容を保存", class: "btn btn-success", style: "width: 150px;" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>


