<div class="container white-bg p-5">  
  <h4 class="customers-table">新規会員登録</h4>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless">
          <!-- 名前の欄  -->
          <tr>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
               <span>名前</span>
               <span>(姓)</span>
              </div>
            </td>
            <td class="align-middle">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", class: "form-control" %>
            </td>
            <td class="align-middle">
              <div class="row align-items-center">
                <div class="col-2">
                  <%= f.label :first_name, "(名)", class: "col-form-label mb-0" %>
                </div>
                <div class="col-10">
                  <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "道子", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <!-- フリガナの欄 -->
          <tr>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <span>フリガナ</span>
                <span>セイ</span>
              </div>
            </td>
            <td class="align-middle">
              <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "レイワ", class: "form-control" %>
            </td>
            <td class="align-middle">
              <div class="row align-items-center">
                <div class="col-2 text-nowrap">
                  <%= f.label :first_name_kana, "メイ", class: "col-form-label mb-0" %>
                </div>
                <div class="col-10">
                  <%= f.text_field :first_name_kana, autocomplete: "first_name", placeholder: "ミチコ", class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <!-- メールアドレスの欄 -->
          <tr>
            <td class="align-middle">メールアドレス</td>
            <td >
              <div class="align-middle">
                <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
              </div>
            </td>
          </tr>
          <!-- 郵便番号の欄 -->
          <tr>
            <td class="align-middle">郵便番号(ハイフンなし)</td>
            <td>
              <div class="align-middle">
                <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000", class: "form-control" %>
              </div>
            </td>
          </tr>
          <!-- 住所の欄 -->
          <tr>
            <td class="align-middle">住所</td>
            <td colspan="2">
              <div class="align-middle">
                <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
              </div>
            </td>
          </tr> 
          <!-- 電話番号の欄 -->
          <tr>
            <td class="align-middle">電話番号(ハイフンなし)</td>
            <td>
              <div class="align-middle">
                <%= f.text_field :telephone_number, autocomplete: "telephone_number", placeholder: "0000000000", class: "form-control" %>
              </div>
            </td>
          </tr>
          <!--パスワードの欄 -->
          <tr>
            <td class="align-middle">パスワード(6文字以上)</td>
            <td>
              <div class="align-middle">
                <% if @minimum_password_length %>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>
            </td>
          </tr>
          <!-- 確認用のパスワードの欄 -->
          <tr>
            <td class="align-middle">パスワード(確認用)</td>
            <td>
              <div class="align-middle">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </td>
          </tr>
          <!-- 新規登録ボタン -->
          <tfoot>
            <tr>
              <td></td>
              <td>
                <div  class="align-middle">
                  <%= f.submit "新規登録", class: "btn btn-success w-100" %>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    </div>
    <div class="bg-light text-center" style="width: 250px"> 
      <h4 class="mb-4">既に登録済みの方</h4>
    </div>
    <%= render "public/shared/links" %>からログインしてください。
  </div>
</div>
