<div class="container mt-5">
  <div class="row">
    <div class="w-100">
      <h3>注文履歴一覧</h3>
    </div>
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td> 
            <td><%= cart_item.tax_price %></td> 
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
          <% number_with_delimiter(@total_price += cart_item.subtotal) %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="text-center mt-5">
        <%= link_to "注文を確定する", orders_thanks_path, class: 'btn btn-success0' %>
    </div>
</div>
