<div class="container white-bg p-5"> 
  <div class="row">
    <div class="col">
      <h4 class="customers-table mb-5">注文情報入力</h4>
        
      <% if flash[:alert] %>
        <div class="alert alert-danger mt-2">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= form_with model: @order, url: orders_confirm_path do |f| %>
        <u><h5 class="my-4" >支払い方法</h5></u>
        <div class="ml-5 ">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %> <br>

          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %> 
        </div>
        
        <u><h5 class="my-4 fw-bold">お届け先</h5></u>
        <div class="ml-5">
          <div class="mb-3">
            <%= f.radio_button :select_address, "self", id: "self_address" %>
            <%= f.label :self_address, "ご自身の住所" %><br>
            <div class="ml-3">
              〒<%= current_customer.postal_code + "　" + current_customer.address %><br>
              <%= current_customer.last_name + current_customer.first_name %><br>
            </div>
          </div>

          <div class="mb-3">
            <%= f.radio_button :select_address, "registered", id: "registered_address" %>
            <%= f.label :registered_address, "登録済住所から選択" %><br>
            <div class="ml-3">
              <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display),
              { prompt: "住所を選択してください" }  %><br>
            </div>
          </div>
        
          <%= f.radio_button :select_address, "new", id: "new_address" %>
          <%= f.label :new_address, "新しい住所を入力" %><br>
          <div class="ml-3">
            <table >
              <tr>
                <td>郵便番号（ハイフンなし）</td>
                <td><%= f.text_field :postal_code, placeholder: "1234567" %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field :address, size: 40, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field :name, placeholder: "令和道子" %></td>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="d-flex justify-content-center mt-5">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
