<div class="container">
  <h3>ログイン</h3><br>
  <h5>会員の方はこちらからログイン</h5>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
    <table>
      <tbody>
        <tr>
         <td>
            <div class="d-flex align-items-center gap-3">
              <%= f.label :email, "メールアドレス", style: "min-width: 200px;" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </td>
        </tr>

    <tr>
      <td>
      <div class="d-flex align-items-center gap-3">
          <%= f.label :password,"パスワード",style: "min-width: 200px;" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary w-40" %>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
  </div>
<% end %>
</div>


<div class="container">
<h5>会員登録がお済でない方</h5>
<%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
</div>

<%= render "public/shared/links" %>

