<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="my-5">
        <a class="navbar-brand" href="/">LOGO</a>
      </div>
      <div class="">
        <h4></h4>
      </div>
      <div class="d-flex mr-0">
        <ul class="navbar-nav ml-auto">  
          <% if admin_signed_in? %> 
            <li class="mr-5">
              <%= link_to "商品一覧", admin_items_path %>
            </li>
            <li class="mr-5">
              <%= link_to "会員一覧", admin_customers_path %>
            </li>
            <li class="mr-5">
              <%= link_to "注文履歴一覧", admin_root_path %>
            </li>
            <li class="mr-5">
              <%= link_to "ジャンル一覧", admin_genres_path%>
            </li>
            <li class="mr-5">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            
          <% elsif customer_signed_in?  %>
              <div class="mr-5">
                <h5>ようこそ <%= current_customer.last_name %>さん</5>
              </div>
              <li class="mr-5">
                <%= link_to "マイページ", customers_my_page_path %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path %>
              </li>
              <li class="mr-5">
                <%= link_to "カート", cart_items_path %>
              </li>
              <li class="mr-5">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
          <% else %>
              <li class="mr-5">
                <%= link_to "About", about_path %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path %>
              </li>
              <li class="mr-5">
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li class="mr-5">
                <%= link_to "ログイン", new_customer_session_path %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

