<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1bfff810b3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
  </head>

  <body style="background-color: 	">
    <div>
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>
    <div >
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
